<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Craig Burke - Playground</title>

    <style>
        h2 {
            text-align: center;
            margin-bottom: 30px;
        }

        .boxes {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-bottom: 30px;
        }

        .box {
            background-color: dodgerblue;
            width: 100px;
            height: 100px
        }
    </style>
</head>

<body>
    <!-- start -- MAIN -->
    <main class="container">
        <div">
            <h2>Playground</h2>
        </div>
        <p></p>
        <div class="boxes">
            {% if color %}
                <style>.box{background-color: {{color}};}</style>
            {% endif %}

            {% if num %}
                {% for x in range(0, num) %}
                    <div class="box"></div>
                {% endfor %}
            {% else %}
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
            {% endif %}
        </div>
    </main>
    <!-- end -- MAIN -->
</body>

</html>